logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.cache
.vite
.turbo
.parcel-cache
*.local

.env
.env.*.local
.env.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
.eslintcache
.npm
.pnpm-store
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Build infos
*.tsbuildinfo

# Recovery folder
_recover/